<ion-content>
    <div id="mainDiv">
        <h1 id="sanku">Sanskar</h1>
    </div>
    <div id="upperDiv">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <form>
                        <div class="form-group">
                            <input placeholder="Email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <input placeholder="Password" type="password" class="form-control"
                                id="exampleInputPassword1">
                        </div>

                        <button id="buttonSubmit" type="submit" class="btn btn-primary btn-block">LOGIN</button>
                    </form>
                    <div id="frtPassword">Forget Password ?</div>
                    <div id="orLoginWith">Or Login With</div>
                    <div id="social ">
                        <div class="row ml-5 mt-4">
                            <div class="col-xs-4">
                                <div class="facebook"></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="facebook"></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="facebook"></div>
                            </div>
                        </div>
                    </div>
                    <div id="regis">Dont have an account ? <span style="color:#E70B89">Register Now</span></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div id="terms">By signing up, you are agree with our <span style="color:#E70B89">Terms & Conditions</span></div>
    <div id="lowerDiv"></div>

</ion-content>