#backgr{
    background-color: #FF6EA1;
    height: 640px;
}
ion-menu-button{
    color: white;
}

#contentDiv{
    margin-top: 30%;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    background: white;
    height: 300px;
    border-radius: 10px;
}

#heading{
    color: #FF6EA1;
    text-align: center;
    padding-top: 20px;
}
#paregr{
    text-align: center;
}