
<ion-content>
   <div id="backgr">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="contentDiv">
        <h2 id="heading">अँप बद्दल माहिती</h2><hr>
        <p id="paregr"><span class="text-primary">अँप चे नाव : </span>अनुभवशाळा</p>
        <p id="paregr"><span class="text-primary">Version : </span>1.0.1</p>
        <p id="paregr"><span class="text-primary">प्रसिद्धीची तारीख  : </span>१३/०५/२०२१</p>
        <p id="paregr"><span class="text-primary">स्थळ  : </span>देगलूर</p><hr>
    </div>
   </div>
</ion-content>