

<ion-content>
  <img class="brd" src="https://assets.telegraphindia.com/abped/2021/Jan/1611216141_tripura-girls.jpg" />
  <ion-toolbar color="danger">
    <ion-title class="text-center">Blog For Primary Education </ion-title>
  </ion-toolbar>
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="card" > 
         
        <div class="card-body">
          <ion-item>
            <ion-label position="floating">संपूर्ण नाव लिहा</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Floating Label</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Floating Label</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Floating Label</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </div>

    </ion-col>
  </ion-row>
</ion-grid>
  

</ion-content>