<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>मुख्य पान</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row ">
    <div class="col-md-12 bk">
      <div class="quiz-box custom-box">
        <img class="banner" src="../../../assets/banner.jpeg" />
        <hr>
        <p class="anubhav"><span id="spanfirst"><b>अनुभव </b></span>आणि सरावामुळे वर्तनात होणाऱ्या सापेक्ष कायमी
          परिवर्तनाला अध्ययन म्हणतात. त्यासाठी अध्ययन अनुभव देणे व घेणे अतिशय
          महत्वाचे म्हणून हा प्रयास .........</p><hr>
          <blockquote class="blockquote text-right">
            <p class="mb-0" id="quote">उमाकांत दिगंबरराव काजळे</p>
            <footer class="blockquote-footer">तालुका : देगलूर जिल्हा : नांदेड</footer>
          </blockquote>
      </div>
    </div>
  </div>
</ion-content>