<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>मुख्य पान</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row ">
    <div class="col-md-12 bk">
      <div class="quiz-box custom-box">
        <img class="banner" src="https://assets.telegraphindia.com/abped/2021/Jan/1611216141_tripura-girls.jpg" />
        <hr>
        <p class="anubhav">नमस्कार माझे नाव संतोष आहे. मी जि प शाळा येथे मागील २० वर्षांपासून अध्यपान करत आहे . शाळेतील विद्यार्थ्यंना या मोबाईल
        अँप चा फायदा व्हावा मानून हे अँप मी माझ्या शाळेतील विद्यार्थ्यंना देत आहे .</p><hr>
          <blockquote class="blockquote text-right">
            <p class="mb-0" id="quote">संतोष कुमार</p>
            <footer class="blockquote-footer">तालुका : देगलूर जिल्हा : नांदेड</footer>
          </blockquote>
      </div>
    </div>
  </div>
</ion-content>