<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>माझी प्रगती</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showData">
    <ion-list>
      <ion-item *ngFor="let item of collection">
        <ion-label>
          <h2> <b class="text-primary">{{item?.exam_name}}</b></h2>
          <h2><b class="text-danger">दिनांक :</b> {{item?.leaderBoard_date | date}} &nbsp;&nbsp;<b
              class="text-danger">गुण:</b> {{item?.leaderBoard_marks}}% <span style="float:right"><b
                class="text-danger">वेळ :</b> {{item?.leaderboard_time}}</span></h2>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

  <div *ngIf="!showData" class="text-danger text-center">
    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>महत्वाची सूचना</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        आपण अद्याप एकही परीक्षा दिलेली नाही , कृपया परीक्षा दयावे .
      </ion-card-content>
    </ion-card>
  </div>


  <div *ngIf="!skleton">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>