<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>माझी प्रगती</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of collection"> 
      <ion-label  >
        <h2> <b class="text-primary">{{item.exam_name}}</b></h2>
        <h2><b class="text-danger">दिनांक :</b> {{item.leaderBoard_date | date}} &nbsp;&nbsp;<b class="text-danger">गुण:</b> {{item.leaderBoard_marks}}% <span style="float:right"><b class="text-danger">वेळ :</b> {{item.leaderboard_time}}</span></h2>     
      </ion-label>
    </ion-item>
   
  </ion-list>

</ion-content>